
<body>
<div>
  <button type="button" ng-hide="showAddEditClient" ng-click="show()">
    Cadastrar Cliente
  </button>

  <form ng-submit="saveClient(client)" ng-hide="!showAddEditClient">

     
      <table>   
          <tr><b>Dados Pessoais</tr></b>
          <th>Nome<input type="text" placeholder="Nome do Cliente"  ng-model="client.name" required></th>
          <th>Email<input type="email" placeholder="Email" ng-model="client.emailCliente" required></th>
          <th>CPF<input type="text" placeholder="CPF" mask="999.999.999-99" ng-model="client.cpf" required></th>
          <th>Telefone<input type="text" placeholder="Telefone" mask="(99)9999-9999" ng-model="client.phone" required></th>
          <th>Celular<input type="text" placeholder="Celular" mask="(99)9?9999-9999" ng-model="client.celularCliente" required></th>
      </table>

      <table>
        <tr><b>Endereço</tr></b>
        <th>Rua<input type="text" placeholder="Rua" ng-model="client.enderecoRuaCliente" required></th>
        <th>N°<input type="text" placeholder="Número" mask="9999" ng-model="client.endNumeroCliente" required></th>
        <th>Bairro<input type="text" placeholder="Bairro" ng-model="client.enderecoBairroCliente" required></th>
        <th>Cidade<input type="text" placeholder="Cidade" ng-model="client.enderecoCidadeCliente" required></th>
        <th>Estado<select ng-model="client.enderecoEstadoCliente" ng-options="item for item in estados" ng-disabled="false"></select></th>
    </table>
    <div>
        <label>Senha</label>
          <input type="{{inputType}}" ng-model="client.password" placeholder="Senha (até 10 caracteres)" /><br>
          <input type="checkbox" id="checkbox" ng-click="hideShowPassword()" />
          <label for="checkbox" ng-if="passwordCheckbox">Esconder password</label>
          <label for="checkbox" ng-if="!passwordCheckbox">Mostrar password</label>  
    </div>

  

    <br><br>
    <button type="submit">Salvar</i></button>
    <button type="button" ng-click="hide()">Cancelar</button>
  </form>

  <div>
    <br/><h1>Clientes Cadastrados</h1>

    <input type="text" ng-model="procurar" class="form-control" placeholder="Procurar..."><br>
    <table class="table">
      <thead>
        <tr>
          <th>ID Cliente</th>
          <th>Nome do Cliente</th>
          <th>CPF</th>
          <th>Rua</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>Telefone</th>
          <th>Celular</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="client in clients|filter:procurar|orderBy:sortKey:reverse|itemsPerPage:5">
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.cpf }}</td>          
          <td>{{ client.enderecoRuaCliente }}, {{client.endNumeroCliente}}</td>     
          <td>{{ client.enderecoBairroCliente }}</td>     
          <td>{{ client.enderecoCidadeCliente }}/ {{client.enderecoEstadoCliente}}</td>     
          <td>{{ client.phone }}</td>     
          <td>{{ client.celularCliente }}</td>
          <td>{{ client.emailCliente }}</td>     
          <td>
            <button class="button" ng-click="editClient(client)">Editar</i></button>
            <button class="button" ng-click="deleteClient(client)">Deletar</i></button>
        </td>
        </tr>

        <dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>  
      </tbody>
    </table>
  </div>
</div>
